<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <div class="product-show-img">
        <%= image_tag(@product.image_url, class: "img-responsive") %>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
        <h3><%= @product.name %></h3>
        <p><%= @product.description %></p>
        <p>
          <strong>Price: </strong><%= number_to_currency(@product.price, unit: '€', precision: 2) %>
        </p>
        <!-- higest rating product -->
        <p class="av-rating"> Average Rating: <span class="rated" data-score="<%= @product.average_rating %>"></span>
        </p><br>
        <%= link_to 'Edit', edit_product_path(@product) %>
        <%= link_to 'Back', products_path %>
    </div>
  </div>
  <div class="row">
    <%= render 'new_comment' %>
  </div>
  <div class="row">
    <%= render 'comments' %>
  </div>
</div>
